@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/fontawesome-webfont.woff) format('woff');
}
@font-face {
  font-family: "FontMfizz";
  src: url(jspm_packages/github/Danbrooker/file-icons@1.6.9/resources/fonts/font-mfizz.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/icomoon.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devicons";
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/devicons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontcustom";
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/docker.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iconsxd";
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/iconsxd.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "file-icons";
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/file-icons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tex";
  src: url(jspm_packages/github/DanBrooker/file-icons@1.6.9/resources/fonts/tex.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
/* @m<x> = .medium-<x>
 * @l<x> = .light-<x> (<x> ligthened 15%)
 * @d<x> = .dark-<x> (<x> darkened 15%)
 */
.light-red {
  color: #c97071;
}
.medium-red {
  color: #AC4142;
}
.dark-red {
  color: #742c2d;
}
.light-green {
  color: #b2c38b;
}
.medium-green {
  color: #90A959;
}
.dark-green {
  color: #66783e;
}
.light-yellow {
  color: #fae0bc;
}
.medium-yellow {
  color: #F4BF75;
}
.dark-yellow {
  color: #ee9e2e;
}
.light-blue {
  color: #9dc0ce;
}
.medium-blue {
  color: #6A9FB5;
}
.dark-blue {
  color: #46788d;
}
.light-maroon {
  color: #be7953;
}
.medium-maroon {
  color: #8F5536;
}
.dark-maroon {
  color: #573421;
}
.light-purple {
  color: #c7a4c0;
}
.medium-purple {
  color: #AA759F;
}
.dark-purple {
  color: #825078;
}
.light-orange {
  color: #e1ad83;
}
.medium-orange {
  color: #D28445;
}
.dark-orange {
  color: #a35f27;
}
.light-cyan {
  color: #a7d0c9;
}
.medium-cyan {
  color: #75B5AA;
}
.dark-cyan {
  color: #4d9085;
}
.light-pink {
  color: #ff4ddb;
}
.medium-pink {
  color: #ff00cc;
}
.dark-pink {
  color: #b3008f;
}
.octicons {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
}
.checklist-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
}
.code-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
}
.comment-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02b";
}
.dashboard-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07d";
}
.database-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
}
.gear-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.github-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f00a";
}
.graph-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f043";
}
.package-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c4";
}
.ruby-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
}
.secret-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f08c";
}
.terminal-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
}
.xml-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.markdown-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c9";
}
.book-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f007";
}
.text-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f011";
}
.image-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
}
.binary-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f094";
}
.config-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07c";
}
.c-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.h-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.cpp-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.objc-icon {
  font-family: "Octicons Regular";
  text-align: center;
  content: "\f010";
  font-size: medium;
}
.fa {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
}
.coffee-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
}
.css3-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13c";
}
.html5-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
}
.twitter-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f099";
}
.puppet-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0c3";
}
.smarty-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0eb";
}
.lua-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f186";
}
.twig-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f1bb";
}
.mf {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
}
.js-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  font-size: medium;
}
.python-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f109";
}
.csharp-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f134";
}
.perl-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f117";
}
.php-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14a";
  font-size: medium;
}
.java-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f142";
  font-size: medium;
}
.scala-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f115";
  font-size: medium;
}
.haskell-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f130";
}
.templatetoolkit-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "TT";
}
.sql-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f124";
}
.icomoon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
}
.grunt-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e611";
}
.gulp-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e610";
}
.hbs-mustache-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e60f";
}
.npm-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e616";
}
.devicons {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
}
.laravel-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e63f";
}
.bower-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64d";
}
.clojure-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e668";
}
.rails-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e63b";
}
.rust-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a8";
}
.travis-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e67e";
  font-size: medium;
}
.windows-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e60f";
}
.elixir-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
}
.erlang-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
}
.dlang-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6af";
}
.fsharp-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a7";
  left: 1px;
}
.sass-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64b";
  top: 0;
}
.meteor-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a5";
  font-size: x-large;
  left: -2px;
}
.composer-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e683";
  font-weight: bolder;
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.9px;
  font-size: medium;
}
.go-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e624";
  font-weight: bolder;
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
  font-size: medium;
}
.swift-icon {
  font-family: "devicons";
  text-align: center;
  top: 3px;
  content: "\e655";
  font-size: large;
}
.docker {
  font-family: "fontcustom";
  font-size: large;
  text-align: center;
  top: 3px;
}
.docker-icon {
  font-family: "fontcustom";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f100";
}
.tex {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
}
.tex-icon {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
  content: "\e600";
}
.bibtex-icon {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
  content: "\e601";
  top: -1px;
}
.git-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e602";
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
}
.icons-xd {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
}
.ionic-icon {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f14b";
}
.haml-icon {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f15b";
  font-size: 15px;
}
.node-icon {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f17b";
}
.nginx-icon {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f146b";
  font-size: 15px;
}
.file-icons {
  font-family: "file-icons";
  font-size: large;
  text-align: center;
  top: 3px;
}
.jsx-icon {
  font-family: "file-icons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f101";
}
.react-icon {
  font-family: "file-icons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f100";
}
atom-pane .tab-bar .tab .title[data-path]:before {
  margin-right: 5px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
atom-pane .tab-bar .tab.temp .title[data-path]:before {
  font-style: normal;
}
.icon-file-text:before,
.icon-file-directory:before,
.icon-file-media:before,
.icon-book:before {
  text-align: center;
}
.icon-file-directory[data-name=".git"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e602";
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
}
.icon-file-directory[data-name=".bundle"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c4";
}
.icon-file-directory[data-name=".meteor"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a5";
  font-size: x-large;
  left: -2px;
}
.icon-file-media[data-name$=".png"]:before {
  color: #D28445;
}
.icon-file-media[data-name$=".gif"]:before {
  color: #F4BF75;
}
.icon-file-media[data-name$=".jpg"]:before {
  color: #90A959;
}
.icon-book[data-name="README.md"]:before,
.icon-book[data-name="Readme.md"]:before,
.icon-book[data-name="readme.md"]:before {
  color: #6A9FB5;
}
.icon-file-text {
  /* &[data-name$=".jsx"]:before { .jsx-icon; .medium-blue; } */
}
.icon-file-text:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f011";
  font-style: normal !important;
}
.icon-file-text[data-name$="TODO"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
  color: #F4BF75;
}
.icon-file-text[data-name$="Makefile"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
  color: #F4BF75;
}
.icon-file-text[data-name$="makefile"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
  color: #F4BF75;
}
.icon-file-text[data-name$=".mk"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
  color: #F4BF75;
}
.icon-file-text[data-name$=".mak"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
  color: #F4BF75;
}
.icon-file-text[data-name$=".ini"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07c";
  color: #F4BF75;
}
.icon-file-text[data-name$=".properties"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07c";
  color: #AA759F;
}
.icon-file-text[data-name$=".toml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07c";
  color: #90A959;
}
.icon-file-text[data-name$=".clj"]:before,
.icon-file-text[data-name$=".cljs"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e668";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".xml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".config"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".manifest"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".jl"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #AA759F;
}
.icon-file-text[data-name$=".cfc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #a7d0c9;
}
.icon-file-text[data-name$=".cfm"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #75B5AA;
}
.icon-file-text[data-name$=".cfml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #75B5AA;
}
.icon-file-text[data-name$=".less"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13c";
  color: #46788d;
}
.icon-file-text[data-name$=".css"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13c";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".styl"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13c";
  color: #90A959;
}
.icon-file-text[data-name$=".slim"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07d";
  color: #D28445;
}
.icon-file-text[data-name$=".skim"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07d";
  color: #D28445;
}
.icon-file-text[data-name$=".json"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
  color: #F4BF75;
}
.icon-file-text[data-name$=".ndjson"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
  color: #D28445;
}
.icon-file-text[data-name$=".cson"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
  color: #8F5536;
}
.icon-file-text[data-name$=".yml"]:before,
.icon-file-text[data-name$=".yaml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
  color: #c97071;
}
.icon-file-text[data-name$=".ex"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #825078;
}
.icon-file-text[data-name$=".exs"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #AA759F;
}
.icon-file-text[data-name$=".eex"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #AA759F;
}
.icon-file-text[data-name$=".html.eex"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #AA759F;
}
.icon-file-text[data-name$=".json.eex"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
  color: #AA759F;
}
.icon-file-text[data-name$="mix.exs"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #c7a4c0;
}
.icon-file-text[data-name$="mix.ex"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #c7a4c0;
}
.icon-file-text[data-name$=".erl"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #AC4142;
}
.icon-file-text[data-name$=".beam"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: '\e6b1';
  color: #742c2d;
}
.icon-file-text[data-name$=".fs"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a7";
  left: 1px;
  color: #6A9FB5;
}
.icon-file-text[data-name$=".fsx"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a7";
  left: 1px;
  color: #6A9FB5;
}
.icon-file-text[data-name$=".fsi"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a7";
  left: 1px;
  color: #6A9FB5;
}
.icon-file-text[data-name$=".gitignore"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e602";
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
}
.icon-file-text[data-name$=".gitattributes"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e602";
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
}
.icon-file-text[data-name$=".gitmodules"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e602";
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
}
.icon-file-text[data-name$=".html"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #D28445;
}
.icon-file-text[data-name$=".htm"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #D28445;
}
.icon-file-text[data-name$=".shtml"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #75B5AA;
}
.icon-file-text[data-name$=".haml"]:before {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f15b";
  font-size: 15px;
  color: #F4BF75;
}
.icon-file-text[data-name$=".jade"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #90A959;
}
.icon-file-text[data-name$=".jsp"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #AA759F;
}
.icon-file-text[data-name$=".ctp"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".ejs"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #90A959;
}
.icon-file-text[data-name$=".swig"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #90A959;
}
.icon-file-text[data-name$=".cshtml"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #AC4142;
}
.icon-file-text[data-name$=".hbs"]:before,
.icon-file-text[data-name$=".handlebars"]:before,
.icon-file-text[data-name$=".mustache"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e60f";
  color: #D28445;
}
.icon-file-text[data-name$=".emblem"]:before,
.icon-file-text[data-name$=".em"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e60f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".tpl"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0eb";
  color: #F4BF75;
}
.icon-file-text[data-name$=".twig"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f1bb";
  color: #90A959;
}
.icon-file-text[data-name$=".hgignore"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.icon-file-text[data-name=".mailmap"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.icon-file-text[data-name$=".editorconfig"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #D28445;
}
.icon-file-text[data-name=".csscomb.json"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #F4BF75;
}
.icon-file-text[data-name$=".csslintrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #F4BF75;
}
.icon-file-text[data-name$=".jshintrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #F4BF75;
}
.icon-file-text[data-name$=".jshintignore"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.icon-file-text[data-name$=".eslintrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #F4BF75;
}
.icon-file-text[data-name$=".eslintignore"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.icon-file-text[data-name$=".babelrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #F4BF75;
}
.icon-file-text[data-name$=".babelignore"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.icon-file-text[data-name$=".jscsrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #F4BF75;
}
.icon-file-text[data-name$=".module"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".htaccess"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #AC4142;
}
.icon-file-text[data-name="nodemon.json"]:before,
.icon-file-text[data-name=".nodemonignore"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
  color: #90A959;
}
.icon-file-text[data-name=".npmrc"]:before {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f17b";
}
.icon-file-text[data-name=".npmignore"]:before {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f17b";
}
.icon-file-text[data-name="npm-debug.log"]:before {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f17b";
  color: #AC4142;
}
.icon-file-text[data-name=".bowerrc"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64d";
}
.icon-file-text[data-name="bower.json"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64d";
  color: #F4BF75;
}
.icon-file-text[data-name$=".sass"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64b";
  top: 0;
  color: #b3008f;
}
.icon-file-text[data-name$=".scss"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64b";
  top: 0;
  color: #ff4ddb;
}
.icon-file-text[data-name$=".php"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14a";
  font-size: medium;
  color: #46788d;
}
.icon-file-text[data-name$=".hh"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14a";
  font-size: medium;
  color: #46788d;
}
.icon-file-text[data-name$=".blade.php"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e63f";
  color: #825078;
}
.icon-file-text[data-name$=".py"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f109";
  color: #ee9e2e;
}
.icon-file-text[data-name$=".ipy"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f109";
  color: #46788d;
}
.icon-file-text[data-name$=".rpy"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f109";
  color: #ff00cc;
}
.icon-file-text[data-name$=".rpyb"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f094";
  color: #AC4142;
}
.icon-file-text[data-name$=".rpyc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f094";
}
.icon-file-text[data-name="Capfile"]:before,
.icon-file-text[data-name$="Gemfile"]:before,
.icon-file-text[data-name$="Gemfile.lock"]:before,
.icon-file-text[data-name="Guardfile"]:before,
.icon-file-text[data-name$="Rakefile"]:before,
.icon-file-text[data-name$=".gemspec"]:before,
.icon-file-text[data-name=".ruby-gemset"]:before,
.icon-file-text[data-name=".ruby-version"]:before,
.icon-file-text[data-name=".rspec"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
}
.icon-file-text[data-name$=".rb"]:before,
.icon-file-text[data-name$=".ru"]:before,
.icon-file-text[data-name$=".rake"]:before,
.icon-file-text[data-name$=".erb"]:before,
.icon-file-text[data-name$=".opal"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
  color: #AC4142;
}
.icon-file-text[data-name$="_spec.rb"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
  color: #b2c38b;
}
.icon-file-text[data-name="rails"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e63b";
  color: #AC4142;
}
.icon-file-text[data-name$=".pp"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0c3";
  color: #AA759F;
}
.icon-file-text[data-name$=".feature"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02b";
  color: #90A959;
}
.icon-file-text[data-name$=".js"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  font-size: medium;
  color: #F4BF75;
}
.icon-file-text[data-name$=".ts"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  font-size: medium;
  color: #AA759F;
}
.icon-file-text[data-name$=".es6"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  font-size: medium;
  color: #F4BF75;
}
.icon-file-text[data-name$=".es"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  font-size: medium;
  color: #F4BF75;
}
.icon-file-text[data-name$=".jsx"]:before {
  font-family: "file-icons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f100";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".coffee"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
  color: #8F5536;
}
.icon-file-text[data-name$=".cjsx"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
  color: #573421;
}
.icon-file-text[data-name$=".litcoffee"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
  color: #be7953;
}
.icon-file-text[data-name$=".iced"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".js.erb"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  font-size: medium;
  color: #AC4142;
}
.icon-file-text[data-name$=".coffee.erb"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
  color: #AC4142;
}
.icon-file-text[data-name$=".html.erb"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #AC4142;
}
.icon-file-text[data-name$=".pl"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f117";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".pm"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f117";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".t"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f117";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".java"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f142";
  font-size: medium;
  color: #AA759F;
}
.icon-file-text[data-name$=".go"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e624";
  font-weight: bolder;
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
  font-size: medium;
  color: #6A9FB5;
}
.selected > .icon-file-text[data-name$=".go"]:before {
  -webkit-text-stroke-width: 0px !important;
}
.icon-file-text[data-name$=".gohtml"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
  color: #46788d;
}
.icon-file-text[data-name$=".scala"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f115";
  font-size: medium;
  color: #90A959;
}
.icon-file-text[data-name$=".hs"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f130";
  color: #AA759F;
}
.icon-file-text[data-name$=".rs"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a8";
  color: #8F5536;
}
.icon-file-text[data-name$=".rlib"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6a8";
  color: #be7953;
}
.icon-file-text[data-name$=".c"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".h"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #AA759F;
}
.icon-file-text[data-name$=".cpp"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".hpp"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #AA759F;
}
.icon-file-text[data-name$=".cxx"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".cc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".hxx"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #AA759F;
}
.icon-file-text[data-name$=".ipp"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
  color: #D28445;
}
.icon-file-text[data-name$=".m"]:before {
  font-family: "Octicons Regular";
  text-align: center;
  content: "\f010";
  font-size: medium;
  color: #6A9FB5;
}
.icon-file-text[data-name$=".mm"]:before {
  font-family: "Octicons Regular";
  text-align: center;
  content: "\f010";
  font-size: medium;
  color: #6A9FB5;
}
.icon-file-text[data-name$=".swift"]:before {
  font-family: "devicons";
  text-align: center;
  top: 3px;
  content: "\e655";
  font-size: large;
  color: #90A959;
}
.icon-file-text[data-name$=".d"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6af";
  color: #AC4142;
}
.icon-file-text[data-name$=".di"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e6af";
  color: #AC4142;
}
.icon-file-text[data-name$=".cs"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f134";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".vb"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".sp"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e668";
  color: #F4BF75;
}
.icon-file-text[data-name$=".inc"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e668";
  color: #90A959;
}
.icon-file-text[data-name$=".secret"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f08c";
}
.icon-file-text[data-name$=".mdown"]:before,
.icon-file-text[data-name$=".markdown"]:before,
.icon-file-text[data-name$=".mkd"]:before,
.icon-file-text[data-name$=".mkdown"]:before,
.icon-file-text[data-name$=".rmd"]:before,
.icon-file-text[data-name$=".ron"]:before,
.icon-file-text[data-name$=".md"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c9";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".tt"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "TT";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".tt2"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "TT";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".tt3"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "TT";
  color: #AA759F;
}
.icon-file-text[data-name$=".sql"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f124";
}
.icon-file-text[data-name$=".txt"]:before {
  color: #75B5AA;
}
.icon-file-text[data-name$=".o"]:before,
.icon-file-text[data-name$=".out"]:before,
.icon-file-text[data-name$=".s"]:before,
.icon-file-text[data-name$=".asm"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f094";
  color: #AC4142;
}
.icon-file-text[data-name$=".sh"]:before,
.icon-file-text[data-name$=".bash"]:before,
.icon-file-text[data-name=".bashrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #AA759F;
}
.icon-file-text[data-name$=".zsh"]:before,
.icon-file-text[data-name=".zshrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".fish"]:before,
.icon-file-text[data-name=".fishrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #90A959;
}
.icon-file-text[data-name="composer.json"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e683";
  font-weight: bolder;
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.9px;
  font-size: medium;
  color: #F4BF75;
}
.icon-file-text[data-name="GRUNTFILE.js"]:before,
.icon-file-text[data-name="Gruntfile.js"]:before,
.icon-file-text[data-name="gruntfile.js"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e611";
  color: #F4BF75;
}
.icon-file-text[data-name="GRUNTFILE.coffee"]:before,
.icon-file-text[data-name="Gruntfile.coffee"]:before,
.icon-file-text[data-name="gruntfile.coffee"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e611";
  color: #8F5536;
}
.icon-file-text[data-name="GULPFILE.js"]:before,
.icon-file-text[data-name="Gulpfile.js"]:before,
.icon-file-text[data-name="gulpfile.js"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e610";
  color: #AC4142;
}
.icon-file-text[data-name="GULPFILE.coffee"]:before,
.icon-file-text[data-name="Gulpfile.coffee"]:before,
.icon-file-text[data-name="gulpfile.coffee"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e610";
  color: #8F5536;
}
.icon-file-text[data-name="GULPFILE.babel.js"]:before,
.icon-file-text[data-name="Gulpfile.babel.js"]:before,
.icon-file-text[data-name="gulpfile.babel.js"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e610";
  color: #AC4142;
}
.icon-file-text[data-name$="Cargo.toml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c4";
  color: #e1ad83;
}
.icon-file-text[data-name$="Cargo.lock"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c4";
  color: #a35f27;
}
.icon-file-text[data-name="ionic.project"]:before {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f14b";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".conf"]:before {
  font-family: "iconsxd";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\f146b";
  font-size: 15px;
  color: #66783e;
}
.icon-file-text[data-name^=".travis"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e67e";
  font-size: medium;
  color: #AC4142;
}
.icon-file-text[data-name^="Dockerfile"]:before {
  font-family: "fontcustom";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f100";
  color: #46788d;
}
.icon-file-text[data-name$=".xaml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".lua"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f186";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".ps1"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".psd1"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".ps1m"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".ps1xml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
  color: #6A9FB5;
}
.icon-file-text[data-name="README.md"]:before,
.icon-file-text[data-name="Readme.md"]:before,
.icon-file-text[data-name="readme.md"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f007";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".png"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
  color: #D28445;
}
.icon-file-text[data-name$=".gif"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
  color: #F4BF75;
}
.icon-file-text[data-name$=".jpg"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
  color: #90A959;
}
.icon-file-text[data-name$=".PNG"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
  color: #D28445;
}
.icon-file-text[data-name$=".GIF"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
  color: #F4BF75;
}
.icon-file-text[data-name$=".JPG"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
  color: #90A959;
}
.icon-file-text[data-name$=".bat"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e60f";
  color: #AA759F;
}
.icon-file-text[data-name$=".cmd"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e60f";
  color: #AA759F;
}
.icon-file-text[data-name$=".exe"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e60f";
}
.icon-file-text[data-name$=".com"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e60f";
}
.icon-file-text[data-name$=".reg"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e60f";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".tex"]:before {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
  content: "\e600";
  color: #6A9FB5;
}
.icon-file-text[data-name$=".sty"]:before {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
  content: "\e600";
  color: #AC4142;
}
.icon-file-text[data-name$=".cls"]:before {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
  content: "\e600";
  color: #D28445;
}
.icon-file-text[data-name$=".bib"]:before {
  font-family: "tex";
  font-size: 8px;
  text-align: center;
  content: "\e601";
  top: -1px;
  color: #F4BF75;
}
.icon-file-text[data-name$=".csv"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f043";
  color: #c97071;
}
.icon-file-text[data-name$=".tsv"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f043";
  color: #b2c38b;
}
