.tree-view {
  background: #272822;
  color: #f8f8f2;
  font-size: 16px;
  line-height: 2;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-item {
  display: block;
  text-transform: none;
  text-align: left;
  padding-left: 25px;
  color: #999 !important;
}

.entry::before {
  margin-right: 15px;
}
